<app-search-bar></app-search-bar>
<div class="container">
    <div class="jumbotron" style="background: white; margin-top: 10rem;">
        <h1 class="display-4">NOT FOUND 404</h1>
        <p class="lead">You seem to be a little lost :)</p>
        <hr class="my-4">
        <p>Please head back to our home page and search for more movies until we fix this issue!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/home">Home</a>
    </div>
</div>