<div class="container">
    <div class="card-deck">
        <div *ngFor="let movie of movieList" class="card mb-3" style="min-width: 15rem;">
            <img class="card-img-top" 
            src="https://image.tmdb.org/t/p/w780{{movie.poster_path}}" onerror='this.src = "../../assets/img/notfound.jpeg"' alt="Card image cap">
            <div class="card-body">
                <h4>{{movie.original_title}}</h4>
                <img src="../../assets/img/ic_star.png" height="25px">
                <div class="rating">
                    {{movie.vote_average}}
                    <span style="float:right"><b>{{movie.release_date}}</b></span>
                </div>
                <p class="card-text">{{movie.overview}}</p>
                <a href="https://www.themoviedb.org/movie/{{movie.id}}" class="btn btn-outline-dark" target="_blank">More</a>
            </div>
        </div>
    </div>
</div>
