.rating {
    vertical-align: middle;
    display: inline;
}

img {
    vertical-align: middle;
}

p {
    padding-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

