<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="/top-20">Top 20 Movies</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLinkActive="active" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genre
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/action">Action</a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/comedy">Comedy</a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/horror">Horror</a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/adventure">Adventure</a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/romance">Romance</a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/movies/fantasy">Fantasy</a>
          </div>
          </li>
        </ul>
      </div>
      <form class="form-inline" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <input formControlName="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-box">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form> 
  </div>
</nav>
  
