<app-search-bar></app-search-bar>
<div class="container" style="margin-top:2rem"><h3>Searching for "{{title}}"...</h3></div>
<app-movie-list [movieList]="movieList">
</app-movie-list>
<div class="container">
    <button type="button" class="btn btn-secondary btn-la" (click)="loadMore()" *ngIf="loaded && movieList?.length != totalResults">Load More</button>
</div>
