<app-search-bar></app-search-bar>

<div class="bd-example">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img src="../../assets/img/1.jpg" class="d-block w-100" alt="Place image title">
          <div class="carousel-caption d-none d-md-block">
            <h1>Search for your favourite movies!</h1>
            <p>Discover new movies and share them with your friends!</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="../../assets/img/2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Search most popular movies!</h1>
            <p>Searching for movies has never been easier!</p>
          </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">EASY WAY TO FIND MOVIES</h1>
      <p class="lead">Find movies by genre</p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/horror_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/horror" class="btn btn-outline-dark">HORROR</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/action_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/action" class="btn btn-outline-dark">ACTION</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/comedy_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/comedy" class="btn btn-outline-dark">COMEDY</a>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/adventure_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/adventure" class="btn btn-outline-dark">ADVENTURE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/romance_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/romance" class="btn btn-outline-dark">ROMANCE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/fantasy_movies.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/movies/fantasy" class="btn btn-outline-dark">FANTASY</a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>